#include "menu.h"

kystyn MENU
{
    POPUP "&File"
    {
        MENUITEM "&Open",  MENU_OPEN
    }
    POPUP "&Mode"
    {
        MENUITEM "&View",   MENU_VIEW,  CHECKED
        MENUITEM "&Layout", MENU_LAYOUT
    }
}
